html,body{
	overflow-x: hidden;
}
body{
	color:black;
}
html{
	scroll-behavior: smooth;
}

/*Headings -Home,about,products,contact*/
.headings h1{
	text-align: center;
	color:black;
	margin-bottom:20px;
	font-family: 'Montserrat', sans-serif;
	letter-spacing: 2px;

}


/*home section css*/
#home h1{
     text-shadow: 4px 4px 8px #000000;
     font-size: 55px;     
}
#home p{
	font-size: 20px;
	text-transform: uppercase;
	padding: 30px;
	
}
.fa-arrow-down{
	padding: 30px;
	size: 100px;
}
a{
	color: white;
}
a:hover{
	color: #46ffff;
}
#home .jumbotron { /* starting subtitle */
    position: absolute;
    z-index: 1;
    margin-top: 3%;
    text-align: center;
    background-color: transparent;
    color:white;
    font-family: Arial, Helvetica, sans-serif;
	letter-spacing: 1px;
   
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}


/*nav-bar css*/
.navbar-dark .navbar-nav .nav-link{
	color: rgb(5, 2, 2);
}
.navbar-dark .navbar-brand{
	color: white;
}
.scrolled{
	background-color: #000000;
	transition: background 1s;
	color: white;
}
a.nav-link:hover{
	background-color: white;
	color: #7C67CB !important;
	font-weight: bold;
}


/*empty spaces div css so that nav-bar dont cover them*/
#about .space{
height: 65px;
}
#products .space{
height: 65px;
}
#contact .space{
height: 65px;
}


/*about section css*/
#about .container p{
	color: white;
}

#ownerbg{
	background-color: #232747;
}
#about .container p{
	color: black;
}
#about{
	margin-top: 100vh;
}
#about h1{
	margin-bottom: 20px;
}
.card{
	border:rgb(255, 255, 255);
	/*box-shadow: 2px 5px 10px rgb(0,0,0);*/
	transition: transform 1s;
	font-size: bold;
	border-radius: 0;
	padding: 10%;
	height: 50vh;
	margin-bottom: 30vh;

}
.card p{
	font-size: bold;
	font-family: 'Montserrat', sans-serif;
	letter-spacing: 1px;
}
.card h4{
	text-align: center;
	font-family: 'Montserrat', sans-serif;
	letter-spacing: 1px;

}
.card img{
	box-shadow: 2px 5px 10px rgb(0,0,0);
	margin-bottom: 20px;
	width: 50vh;
	height: 50vh;
}
.card:hover{
	transform: scale(1.1,1.1);
	box-shadow: 4px 4px 4px 2px rgba(0,0,0,0.5);

}

.card-img-bottom{ /*  ravali image about */

   

    object-fit: none;
}

#but1{
	margin-bottom: 20px;
}



/*products section css*/
#products h3{
	text-align: center;
	color: #29B6F6;
	font-weight: bold;
}
#products{
	color: white
}
#products p, h2{
	color:black;
}



/*contact section css*/
#contact h4 i{ /* font images color */ 
	color: #2e3a97;
	margin-right: 100px;
}
#contact h4{
	margin:40px auto; 

}
#contact h3 i{
	color: #2e3a97;
}
#contact h3{
	margin-bottom: 60px;
	text-align: center;
}
#contact .fa-instagram{
	margin-bottom: 100px;
	margin-right: 50px;
}
#contact a i{
	color: black;
}
#contact .fab{
	transition: transform 1s;
}
#contact .fab:hover{
	transform: scale(1.2,1.2);
}



.col-8{ /* contact subtext, location, email */

    color: rgb(0, 0, 0);

    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   

    
}



/*HFS css ended*/



/**/

#pawanpic{
    height: 350px;
    width: 350px;   
    border-radius: 50%;
    border:white 4px solid;
    background-image: url("pics/fav2.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    animation-name: example;
    animation-duration: 16s;
    animation-iteration-count: infinite;  
    background-position: center;
     
}

#imgbox{
    animation-name: example2;
    animation-duration: 16s;
    animation-iteration-count: infinite;
    position: absolute;
    z-index: 1; 
    height: 100vh;
    width: 100% ;
    
}
#mainPage{
    mix-blend-mode: darken;
    height: 100vh;
    width: 100% ;
    
}

.tracksContainer {
    width: 600px;
    margin: auto;
    border: solid 4px #7C67CB;
    
    height: 100px;
    margin-top: 20px;
    display: flex;
    width: 100%;
}

#audioContainer {
    margin-top: 10px;
    position: sticky;
    max-width: 414px;
    margin: auto;
}

#audio {
    width: 100%;
    margin-top: 50px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

@media only screen and (max-width: 950px) {

    #topContainer {
        font-size: 40px
    }

    #sectionLeft {
        font-size: 35px
    }
    #hypem {
        width: 125px;
        height: 50px;
        margin: auto;
    }
}

@media only screen and (min-width: 600px) {
    /* THIS MAKES THE SIGN UP CONTAINER FIT THE FULL SCREEN WIDTH WHEN THE SCREEN SIZE IS LESS THAN 500PX  */
    #audio {
        width: 20%;
        min-width: 300px;
    }
}

@media only screen and (max-width: 1500px) {
    /* THIS MAKES THE SIGN UP CONTAINER FIT THE FULL SCREEN WIDTH WHEN THE SCREEN SIZE IS LESS THAN 500PX  */
    .tracksContainer {
        width: 100%;
        max-width: 400px;
        margin-top: 0px;
        height: 70px;
    }
    #picFrame {
        width: 200px;
        height: 200px;
        margin-top: 10px;
        margin-right: auto;
    }

    #audioContainer {
        margin-top: 9px;
    }

    #audio {
        margin-top: 0px;
        position: static;
        transform: translate(0%, 0%);
        margin: auto;
        width: 100%;
    }

    #sectionLeft {
        display: none;
    }
    #sectionRight {
        display: none;
    }
    
}

.coverArtContainer {
    height: 100%;
    width: 20%;
    border: 1px solid #7C67CB;
}

.playPauseContainer {
    height: 100%;
    width: 20%;
    border: 1px solid #7C67CB;
    position: relative;
        padding: 1%;

}

.fontAwesomePlayTrackIcon {
    width: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
}

.coverArt {
    filter: grayscale(50%);
    height: 100%;
    width: 100%;
    filter:hue-rotate(160deg);

}

.iGotYouCoverArt {
    height: 100%;
    width: 100%;
}

.title {
    width: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Mali', cursive;
}

.trackTitleContainer {
    height: 100%;
    width: 60%;
    border: 1px solid #7C67CB;
    position: relative;
    text-align: center;
    color:white;
}

.wrapper {
    width: 500px;
    padding: 40px;
    margin: auto;
    margin-top: 150px;
    border: solid 5px #7C67CB;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #05668D;
    background-color: #7C67CB; /* changed from green */
    border-radius: 3%;  
}

#pawan h2{
	font-family: 'Montserrat', sans-serif;
	letter-spacing: 2px;
	text-align: center;
}

#k{
	margin-right: 2%;
	margin-left: 2%;
	/*padding-left: 2%;*/
}
#lr{                          /* music container bg color */

    width: auto; /* Set a fixed width for the div element */
    margin: auto; /* Center the div element horizontally */
    display: flex; /* Make the div element a flex container */
    justify-content: center; /* Center the content horizontally within the div element */
  

	background-color: #232747;
	border: solid 5px #110e1f;

    
}
video{
	margin-top: 10px;
	background-color: #232747;
}
#lrp{
	background-color: #7C67CB;
	border: solid 5px #7C67CB;
	margin: 0 25%;
}
#podcast{
	background-image: url("https://i.pinimg.com/1200x/6a/1a/79/6a1a79384d561a814af8645c84e084eb.jpg");
	background-repeat: round;
}



@keyframes example {
    0%   {border-color: rgb(41, 243, 84);}
    25%  {border-color: yellow;}
    50%  {border-color: rgb(247, 11, 235);}
    100% {border-color: rgb(23, 238, 227);}
  }
  @keyframes example2 {
    0%   {background: rgb(41, 243, 84);}
    25%  {background: yellow;}
    50%  {background: rgb(247, 11, 235);}
    100% {background: rgb(23, 238, 227);}
  }

  /* jumping icon */
.bounce {
    display: inline-block;
    position: relative;
    -moz-animation: bounce 1s infinite linear;
    -o-animation: bounce 1s infinite linear;
    -webkit-animation: bounce 1s infinite linear;
    animation: bounce 1s infinite linear;
    color:000;
  }
  @-webkit-keyframes bounce {
      0% { top: 0; }
      50% { top: -0.2em; }
      70% { top: -0.3em; }
      100% { top: 0; }
  }
  @-moz-keyframes bounce {
      0% { top: 0; }
      50% { top: -0.2em; }
      70% { top: -0.3em; }
      100% { top: 0; }
  }
  @-o-keyframes bounce {
      0% { top: 0; }
      50% { top: -0.2em; }
      70% { top: -0.3em; }
      100% { top: 0; }
  }
  @-ms-keyframes bounce {
      0% { top: 0; }
      50% { top: -0.2em; }
      70% { top: -0.3em; }
      100% { top: 0; }
  }
  @keyframes bounce {
      0% { top: 0; }
      50% { top: -0.2em; }
      70% { top: -0.3em; }
      100% { top: 0; }
  }





/*FOR MUSIC PLAYER*/

/* Font Family
================================================== */

@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap");





/* Setup
================================================== */

.container { position:relative; margin:0 auto; max-width:800px; width:100%;  }
.column { width:inherit; }


/* Typography / Links
================================================== */

p { color:#fff; display:block; font-size:.9rem; font-weight:400; margin:0 0 2px; }

a,a:visited { color:#8cc3e6; outline:0; }
a:hover,a:focus { color:#bbdef5; }
p a,p a:visited { line-height:inherit; }


/* Misc.
================================================== */

.add-bottom { margin-bottom:2rem !important; }
.left { float:left; }
.right { float:right; }
.center { text-align:center; }
.hidden { display:none; }

.no-support {
margin:2rem auto;
text-align:center;
width:90%;
}

.row{ /*  text music ravali player */
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    color: #ffffff;
    
    
}

.subhead{ /* intro title */

    margin-left: 40px;
}

.lead{ /* intro paragraphy */

    
        margin-top: 10px; /* Set a 10px top margin for the text */
        margin-right: 44px; /* Set a 15px right margin for the text */
        margin-bottom: 10px; /* Set a 10px bottom margin for the text */
        margin-left: 45px; /* Set a 15px left margin for the text */
      
      


    display: flex;
    text-align: justify;/* Make the div element a flex container */
    justify-content: space-between; /* Justify the text within the div element *//* Justify the text within the div element */
    color: #ffffff;
    border-color: #000000;
}


/* Audio Player Styles
================================================== */

audio {
display:none;
}

#audiowrap,
#plwrap {
margin:0 auto;
}

#tracks {
font-size:5;
position:relative;
text-align:center;
}

#nowPlay {
display:block;
font-size:5;
}

#nowPlay span {
display:inline-block;
font-size:1.05rem;
vertical-align:top;
}

#nowPlay span#npAction {
padding:21px;
width:30%;
}

#nowPlay span#npTitle {
padding:21px;
text-align:right;
width:70%;
}

#plList li {
cursor:pointer;
display:block;
margin:0;
padding:21px 0;
}

#plList li:hover {
background-color:rgba(0, 0, 0, .1);
}

.plItem {
position:relative;
}

.plTitle {
left:50px;
overflow:hidden;
position:absolute;
right:65px;
text-overflow:ellipsis;
top:0;
white-space:nowrap;
}

.plNum {
padding-left:21px;
width:25px;
}

.plLength {
padding-left:21px;
position:absolute;
right:21px;
top:0;
}

.plSel,
.plSel:hover {
background-color:rgba(0, 0, 0, .1);
color:#fff;
cursor:default !important;
}

#tracks a {
border-radius:3px;
color:#fff;
cursor:pointer;
display:inline-block;
font-size:2.3rem;
height:40px;
line-height:.2;
margin:0 5px 30px;
padding:12px;
text-decoration:none;
transition:background .3s ease;
}

#tracks a:hover,
#tracks a:active {
background-color:rgba(0, 0, 0, .1);
color:#fff;
}

#tracks a::-moz-focus-inner {
border:0;
padding:0;
}


/* Plyr Overrides
================================================== */

.plyr--audio .plyr__controls {
background-color:transparent;
border:none;
color:#fff;
font-family:"Source Sans Pro", arial, sans-serif;
padding:20px 20px 20px 13px;
width:100%;
}

a.plyr__controls__item.plyr__control:hover,
.plyr--audio .plyr__controls button:hover,
.plyr--audio .plyr__controls button.tab-focus:focus,
.plyr__play-large {
background-color:rgba(0, 0, 0, .1);
}

.plyr__progress--played,
.plyr__volume--display {
color:rgba(0, 0, 0, .1);
}

.plyr--audio .plyr__progress--buffer,
.plyr--audio .plyr__volume--display {
background-color:rgba(0, 0, 0, .1);
}

.plyr--audio .plyr__progress--buffer {
color:rgba(0, 0, 0, .1);
}

.plyr__controls .plyr__controls__item.plyr__time {
font-size:14px;
margin-left:7px;
}


/* Media Queries
================================================== */

@media only screen and (max-width:600px) {
    #nowPlay span#npAction { display:none; }
    #nowPlay span#npTitle { display:block; text-align:center; width:100%; }
}